[2020-04-24 17:41] JReming85 opened #1 "New Console App"
Any chance on a new console app when you finish the rewrite?

[2020-04-24 18:16] devnulli commented on #1
Yes the rewrite will be done on May 9th including a new console app

[2020-04-24 21:25] JReming85 commented on #1
Cant wait, thank you for doing this.

So far much better then Cyberarm's software for me atleast.  My server averages around 500k attacks a month and their would constantly use around 30% of my cpu and the db would lock up since it was around 2gb in size.

So far your software is only using around 10% cpu and not that often, majority of the time its at 0%.

Cant wait to see the rewrite's performan

[2020-04-24 21:25] #1 closed

[2020-05-01 05:35] devnulli opened #2 "EvlWatcher needs to be updated to the current .Net Framework"

[2020-05-01 05:37] devnulli opened #3 "EvlWatcher needs a new Installer"
The current nullsoft NSIS Installer is OK, but a new one, maybe with auto update would be nice´r

[2020-05-01 05:38] devnulli opened #4 "EvlWatcher need a generic rule trigger engine instead of hard coded rules"
For easy tasks

[2020-05-01 05:39] devnulli opened #5 "EvlWatcher needs a scriptable rule trigger engine, maybe using JINT.... ... maybe in this release, maybe future"
To combine log entries

Not sure if it will be in V2, nut should be done somedaay

[2020-05-01 05:40] devnulli opened #6 "EvlWatcher need to seperate action from trigger,"
So different rules can trigger similar actions (i.e. Ip ban)

[2020-05-01 05:41] devnulli opened #7 "EvlWatcher needs more actions"
Not only IP ban, also a Telegram-Notifier, maybe a email notifier, and so on.
Will be done by plugin principle, so anyone can add actions and rules

[2020-05-01 05:53] devnulli opened #8 "EvlWatcher needs a new console application"
That app should be able to generate and modify rules, and see their results.

[2020-05-01 06:03] devnulli opened #9 "needs a repo description and contribution guidelines."

[2020-05-01 06:32] devnulli opened #10 "better structure for configuration files (especially generic tasks)"

[2020-05-01 06:59] devnulli opened #11 "refactor"
refactor to SOLID before we start

[2020-05-01 07:42] devnulli opened #12 "The named pipe for the console application must be secured to admin rights (or stop using WCF at all.)"

[2020-05-11 16:32] #2 closed

[2020-05-11 16:34] #11 closed

[2020-05-13 19:13] JReming85 opened #14 "Love to help/test"
Would love to help beta test, I can potentially provide a small test server for you as well.

As far as help coding, I am not the greatest when it comes to windows but once I have more free time (crazy time at work) I would be more then willing to give it a shot.

[2020-05-14 15:45] mgraf444 opened #15 "Implement logging configuration and logging."
Hello,

Does this log failed login attempts to a log file anywhere? I only see blacklisted ips in the config.xml file.

Thanks

[2020-05-14 17:13] devnulli commented on #15
Hi,

In older versions, it did. EvlWatcher used to log into it's own Eventsource names "EvlWatcher" , however, the current version doesn't log login attempts, because into the eventlog, because it uses the Eventlog to find those attempts, and it somehow felt .. crazy .. to log a logentry...  It could, however, log when someone gets banned etc, in older versions.

I don't know why I removed that, p

[2020-05-14 17:16] devnulli commented on #14
Hi, that would be extremely helpful, thanks! Can I come back to you in a while (when its mostly done and a new installer is ready), so you could try it out on a Windows Server (which is exposed to the web with RDO on 3389 port open).

Might take a while, though. (end of May - beginning of June..ish)

[2020-05-14 17:18] devnulli commented on #15
Made this an issue.

[2020-05-25 00:20] gustavorlopez commented on #14
Hi, I could help too. With Windows Server 2012 R2 and Server 2016.

[2020-05-30 14:34] Balls0fSteel opened #16 "Share your Patreon or other profile so we can support the project"
I love EvlWatcher and been using it for several years at this point. Please, add a way so we can support the project. I'd recommend adding multiple ways.

- Patreon (monthly subscription/support)
- Paypal (for direct donation)
- Bitcoin/other coin wallet addresses (for crypto)

There is a thing called "Open Collective" but I don't think it's the tool for this project.
Thank you for your hard work.

[2020-06-13 13:54] gustavorlopez commented on #14
Hi, what happened with the new version ?

[2020-06-13 14:07] JReming85 commented on #14
Most likely he is still working on it or has other obligations due to the pandemic effecting us all.

Be patient, he will pull when its done

[2020-06-14 07:43] devnulli commented on #14
Hi, I am already on it, but it will take some more days..

[2020-06-18 17:43] devnulli commented on #16
Hi, you can find the old binaries [here](https://github.com/devnulli/EvlWatcher/tree/master/Versions)

Also thanks for offering to support me. I'll post a patreon profile in the README.md.. as soon as i finished the new release that I promised .. ... dont bother downloading an old version.. the new one is gonna be out in June, that I promise.

[2020-06-18 17:45] devnulli commented on #14
Hi, so sorry again for the DELAYS guys, the new version will be out in JUNE, I really really really promise..  and while that goddamn corona thingy would be a good excuse, its more that i was locked up at home for WEEKS and STILL didnt do it. so it's kindof an anti-excuse.. :)

[2020-06-18 23:18] gustavorlopez commented on #14
Hi, June is ok for me.

[2020-06-18 23:23] Balls0fSteel commented on #16
Haha it's fine, I just installed the 2.0 alpha on a bunch of PCs. Long story short, it was the best option (having open RDP Win10 Pro machines on the internet). I'll watch the project, and the README then... 👀

Thank you for getting back and sorry for using up a ticket for this.

[2020-06-21 15:12] myscreenname commented on #14
I'm game to test as well.

[2020-06-21 16:32] devnulli commented on #10
Configuration format for EvlWatcher will stay in XML, because JSON does not have comments. The structure will be changed to better represent generic tasks. (one File per Task)

[2020-06-21 16:46] devnulli commented on #4
i forgot that i had this already implemted a while ago

[2020-06-21 16:46] #4 closed

[2020-06-21 16:47] devnulli commented on #3
after doing some reading about click once and microsoft installer, NSIS seems to still be the best solution.

[2020-06-21 16:47] #3 closed

[2020-07-02 05:00] devnulli commented on #14
is almost done..

[2020-07-06 19:41] meigallodixital opened #17 "[v1.4] Using not standard port doesnt block"
We are using a non-standard port for RDP. When we enter wrong passwords (+5) it doesn't ban us temporarily. Would something have to be configured for this case?

**Enviroment:** Windows 10 professional 1909 and windows 10 professional 2004. EvlWatcher version 1.4 in both.

[2020-07-21 07:49] devnulli commented on #17
hi, could you find the entry in the windows event log that should trigger the block and post it here? thx

[2020-08-03 13:47] shimuldn opened #18 "Huge ram usage"
EvlWatcher-v2.0 alpha Using too much ram after some days of 24/7 server running.

I see the server using the full ram around 6 GB. After a reboot, it goes back to normal. Happen on my 2 servers 2019.
On Task Manager I see Cached almost all the ram server had.

<img width="535" alt="Screenshot" src="https://user-images.githubusercontent.com/12117121/89576538-0cf9cb80-d84d-11ea-8110-969f139801c7.png

[2020-08-03 13:50] shimuldn opened #19 "Tester"
I have few 2019 servers and i can test.

Now using v1.4 and V2.0 alpha.
Alpha seems unstable.

Let me know how can I help.

[2020-08-29 19:33] shimuldn commented on #18
The fix i am using is stop and start the service everyday using "Task Scheduler"

[2020-08-31 07:17] devnulli commented on #18
there is a problem with the protocol, which gets bigger as evlwatcher runs

[2020-10-28 04:15] s7646984 commented on #18
Ran into the same issue on Server 2019
Create the following batch script and run daily. Would be good if there was a warning or the home page or ability for the service to restart itself if it could detect it was growing past a normal limit.

NET STOP "EvlWatcher"
NET START "EvlWatcher"

[2020-10-28 07:19] shimuldn commented on #18
That's what i am doing using `Task Scheduler`

[2020-10-28 21:04] #17 closed

[2020-10-28 21:06] devnulli commented on #19
hi, thanks a lot for you offer. ill tag you in the tester issue. duplicate of #14

[2020-10-28 21:06] #19 closed

[2020-10-28 21:08] devnulli commented on #18
this should be fixed in 2.0 beta

[2020-10-28 21:10] devnulli commented on #14
@shimuldn

[2020-11-02 20:33] devnulli commented on #14
Hi guys. Please have a look at the first beta. Actually, it should not change much on the outside, but it changed a lot on the inside.
After that works, i will move on the the console and what not.

Thanks again for your support,

Mike

[2020-11-02 21:02] shimuldn commented on #14
Testing on one VM

[2020-11-03 22:26] NukeDev commented on #14
Testing on 3 servers, i'm interested to help this project too! (with some evening coding).
@devnulli let's have a talk?

Jimmy

[2020-11-04 07:21] devnulli commented on #14
Hi Jimmy, that would be great, thanks.

Be aware that on saturday there will be the beta2, which also needs testing (its got the console and ui things) .

Im glad to get help, for I don't even have Windows Servers anymore and thus a complete unability to test it (can test the ui and all, but not the actual banning)  😅 .

So:

- Right now im finishing the beta2, which should be finished by friday.

[2020-11-04 07:53] shimuldn commented on #14
About 36 hours of beta testing.

1IP blocked.
<img width="573" alt="Screenshot 2020-11-04 at 1 21 55 PM" src="https://user-images.githubusercontent.com/12117121/98083846-f6d9c680-1ea0-11eb-924a-bf752c0afad3.png">

[2020-11-04 08:51] devnulli commented on #14
@shimuldn  ok thanks, please keep me updated, im still searching for the memory leak (suspecting firewall API). if i cant find it, maybe we need to dump the memory of the process to find it.  i'll get back to you in some hours.. please, dont restart it, let it eat up..

[2020-11-04 09:42] devnulli commented on #14
@shimuldn thanks for your test. i think i found the problem. please wait, while i create a new beta1 version to test.

[2020-11-04 11:13] shimuldn commented on #14
@devnulli
Okey. Current ram usages are 137MB. So it's increasing.
Also, another issue with the last version is blocking. Blocking didn't work properly. I just fixed another server by doing a few reboots.

<img width="334" alt="Screenshot 2020-11-04 at 4 32 17 PM" src="https://user-images.githubusercontent.com/12117121/98103693-665caf80-1ebb-11eb-9066-4695391565be.png">

Spammers are trying to crac

[2020-11-04 11:33] devnulli opened #21 "4625 Event not Blocking"
Spammers are trying to crack the password by doing Brute-force attack.
<img width="975" alt="Screenshot 2020-11-04 at 4 38 08 PM" src="https://user-images.githubusercontent.com/12117121/98104233-28ac5680-1ebc-11eb-89eb-0db29793e866.png">

I can provide you logs if needed.
If you need a windows server for testing you may signup for GCP or any other cloud trial. If not in this case i may help you to

[2020-11-04 11:33] devnulli commented on #14
hi, i put at into a separate issue

[2020-11-04 11:37] devnulli commented on #21
@shimuldn: Is there any way Evlwatcher could find an IP for these attempts? (either directly in the XML, or by using a related event?) otherwise there is no way EvlWatcher (or any other Event-Log-Based IDS) can block that

![image](https://user-images.githubusercontent.com/3720480/98107175-67c9b000-1e9a-11eb-9add-47488427a7a0.png)

[2020-11-04 11:44] shimuldn commented on #21
@devnulli
Here you go

- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
<EventID>4625</EventID>
<Version>0</Version>
<Level>0</Level>
...
....
<Data Name="LogonProcessName">User32</Data>
<Data Name="AuthenticationPackageName">Negotiate</Data>
<Data Name="WorkstationName">INSTANCE-202010</Data>
<Data Name="TransmittedServices">-</Data>
<Data Name="LmPackageName">-<

[2020-11-04 11:52] shimuldn commented on #21
@devnulli
Every other log on the below screenshot has the same IP address.
<img width="968" alt="Screenshot 2020-11-04 at 5 18 08 PM" src="https://user-images.githubusercontent.com/12117121/98108430-f00f7b80-1ec1-11eb-8ee5-8f7d0983667e.png">

But the bad news is the `Evlwatcher` not blocking the IP address.
<img width="828" alt="Screenshot 2020-11-04 at 5 19 22 PM" src="https://user-images.githubu

[2020-11-04 11:57] devnulli commented on #21
hi, could you change the config.xml in line 68 to: `&lt;Data Name=".IpAddress."&gt;(\d*.\d*.\d*.\d*)`, and retry? thanks

![image](https://user-images.githubusercontent.com/3720480/98109046-3acacc80-1e9d-11eb-89fb-9ed8b7581a25.png)

[2020-11-04 12:00] devnulli commented on #21
hi, could you change line 68 in config.xml to  `  &lt;Data Name=.IpAddress.&gt;(\d*.\d*.\d*.\d*)`
![image](https://user-images.githubusercontent.com/3720480/98109338-b298f700-1e9d-11eb-86a1-005c9d34c044.png)

and retry?

[2020-11-04 12:04] shimuldn commented on #21
@devnulli on it will update

[2020-11-04 16:23] shimuldn commented on #21
@devnulli Batter than before i think. Will update again

[2020-11-04 16:29] devnulli commented on #18
the memory leak is not in the firewall api, its in the event log records.

[2020-11-05 08:01] shimuldn commented on #21
Found some weird behavior Within 1 hour 20 minutes got 242 log event 4625. All from the same IP but the wired thing is `EvlWatcher` didn't block the IP. The IP found on the firewall is different.

For this 1 hour 20 minutes the attack was constant.

<img width="1213" alt="Screenshot 2020-11-05 at 1 04 29 PM" src="https://user-images.githubusercontent.com/12117121/98212474-a9755c00-1f69-11eb-81f4-1

[2020-11-05 08:10] devnulli commented on #21
hi, can you post the xml again please, i will look into that.

[2020-11-05 08:34] devnulli commented on #21
im not sure if that is a glitch when we created the beta version.
i have created a clean new version. does the problem persist in that version ?

[Clean Beta](https://github.com/devnulli/EvlWatcher/blob/v2-beta1/Versions/v2/EvlWatcher-v2.0%20beta%201-setup.exe)

[2020-11-05 08:35] #18 closed

[2020-11-05 08:35] #15 closed

[2020-11-05 08:36] devnulli commented on #14
hi, im closing that -> convo moved to the pull request anyway

[2020-11-05 08:36] #14 closed

[2020-11-05 08:36] #10 closed

[2020-11-05 17:01] devnulli opened #24 "Expand DefaultLogger, ILogger and IEvlWatcherService for Output History"
- [x] `ILogger` should get a `SetConsoleHistoryMaxCount(int count)`, and a `IList<ConsoleEntry> GetConsoleHistory()`,

- [x] `ConsoleEntry` maybe being an Object with DateTime and String

- [x] 'DefaultLogger' should then implement that it keeps the last X entries saved, in a List that doesnt grow larger over time.

![image](https://user-images.githubusercontent.com/3720480/98271352-29162180-1f90-

[2020-11-05 17:22] #12 closed

[2020-11-06 19:12] devnulli opened #25 "Complete Console Output"
after #24 is done, replace the fakedata with service query.

![image](https://user-images.githubusercontent.com/3720480/98405366-710a7680-206c-11eb-8bf0-a08403174d3a.png)

[2020-11-06 19:49] devnulli opened #26 "Better "Currently banned" tab"
- add a tooltip to every button
- add some storytelling images in the background, so its more intuitive

[2020-11-06 19:49] devnulli commented on #26
![image](https://user-images.githubusercontent.com/3720480/98408553-9cdc2b00-2071-11eb-83f0-4ab5eed15b8d.png)

[2020-11-06 19:49] #26 closed

[2020-11-06 19:57] devnulli commented on #21
@shimuldn  does it work or should i look deeper into it?

[2020-11-06 21:45] devnulli commented on #21
pull request was closed. if it still occurs, create a new issue please. thx

[2020-11-06 21:45] #21 closed

[2020-11-06 21:57] #24 closed

[2020-11-07 07:08] shimuldn commented on #21
Checking RDPs now

[2020-11-07 07:53] shimuldn opened #28 "Not blocking properly."
Found many attacker IPs on the log but EW didn't block properly. Please take a look at the logs files Gitter.

Thank you for your hard work.

[2020-11-07 20:02] devnulli opened #29 "Create Task editor in console - including a way to test the regex against the log xml"
need to create a tab where all the generic tasks can be configured ..

in future versions maybe even created, uploaded and downloaded from a repo

[2020-11-07 21:51] devnulli commented on #16
Hi @Balls0fSteel, after thinking about it, I won't do that Patreon thing. It's just..

What i have done is to post a bitcoin address for ppl who want to buy me a 🍺 / ☕  in the [README.md](https://github.com/devnulli/EvlWatcher/blob/master/README.md#if-you-want-to-support-evlwatcher-monetarily).

 Or you can just choose a local charity and donate to it.

closing this now, and THANKS for the issue.

[2020-11-07 21:51] #16 closed

[2020-11-07 22:04] Balls0fSteel commented on #16
There is also Ko-Fi. But I'll look into BTC. The only reason I hate it is because its SO HARD to get BTC. You want to give 10$? Prepare yourself to lose 30$ in currency conversion, SEPA transfer, etc. It sucks so so so much. 😢

[2020-11-07 22:07] devnulli commented on #16
thats true, practically, it sucks.  but in your heart you like it. its hackery and cool and has that shady feeling somewhat ahha

seriously: i have never heard of ko-fi, will look into that. also will look into buy-me-coffe.com or something like that i heard of

[2020-11-07 22:09] Balls0fSteel commented on #16
I didn't hear about the latter, only ko-fi. It's just like "throw me some money". Anyhow, I'll check. Wish you could still mine buttcoins, then it'd be easier, ha.

[2020-11-07 22:13] devnulli commented on #16
hm ko-fi and buymeacoffe.com seems to need paypal, which sucks. i dumped them after the wau-holland thing.. :cry:

[2020-11-07 22:15] Balls0fSteel commented on #16
Ok just give us Paypal then. Check it by donating to yourself (what info is visible, etc.) Yes, you will have to pay taxes after it. But who knows, you may lose out on 500-5000$ or whatever. Some people just don't want to mess with BTC. :(

[2020-11-07 22:16] devnulli commented on #16
jup.

[2020-11-07 22:18] devnulli commented on #16
sheesh.. its pretty hard to get something simple like a beer paid.. haha

[2020-11-07 22:21] Balls0fSteel commented on #16
I pay you a beer if you add it. 🍺

[2020-11-07 22:25] devnulli commented on #16
haha deal.

[2020-11-07 22:27] NukeDev commented on #25
Added console output from service.
We should check distinct verbosity levels available from logs and display only logged levels.

[2020-11-07 22:29] #25 closed

[2020-11-07 22:43] devnulli commented on #16
done,, ok i admit wasnt that hard..   <a href='https://ko-fi.com/F2F02MKY9' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi2.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>

thanks man!

[2020-11-07 23:11] Balls0fSteel commented on #16
nah. thank **YOU**, for this great software.
sorry for taking up so much of your time with this ticket. good luck with v2.0, eagerly waiting, lol.

[2020-11-07 23:13] devnulli commented on #16
thanks, we are pretty much done, only the rule editor is still missing ;)

![image](https://user-images.githubusercontent.com/3720480/98453227-287bb780-2157-11eb-9b90-6f773c8a8005.png)
![image](https://user-images.githubusercontent.com/3720480/98453230-34677980-2157-11eb-9979-4e2b92f357de.png)

[2020-11-07 23:14] Balls0fSteel commented on #16
Those images in the menus, lmao, I legit laughed out loud. 10/10.

[2020-11-07 23:20] #9 closed

[2020-11-07 23:22] devnulli opened #30 "Finally, we need to update the README.md"
Before we release, 2.0 we need a (small and straightforward) Docu. Explaination, Screenshots, a simple HOWTO, and whatnot, instead of the v2.0 announcement.

[2020-11-08 08:59] shimuldn commented on #28
I was checking the logs as per @devnulli suggestion and seems blocking is working. Keeping this open for a few days if there any issue I will update.

[2020-11-10 15:04] shimuldn commented on #28
Blocking work, Closing this case.

[2020-11-10 15:04] #28 closed

[2020-11-10 15:05] shimuldn commented on #7
This app going to be a great one, carry on

[2020-11-10 16:42] devnulli commented on #8
done

[2020-11-10 16:42] #8 closed

[2020-11-10 19:18] #29 closed

[2020-11-10 20:14] devnulli commented on #30
![image](https://user-images.githubusercontent.com/3720480/98728355-ab8c5000-2399-11eb-918f-3b9a8e316516.png)

[2020-11-10 20:14] devnulli commented on #30
![image](https://user-images.githubusercontent.com/3720480/98728386-bb0b9900-2399-11eb-9792-d3e770334316.png)

[2020-11-10 20:15] devnulli commented on #30
![Uploading image.png…]()

[2020-11-10 20:15] devnulli commented on #30
![image](https://user-images.githubusercontent.com/3720480/98728459-d1b1f000-2399-11eb-924b-13e21c8d6c37.png)

[2020-11-10 20:15] devnulli commented on #30
![image](https://user-images.githubusercontent.com/3720480/98728504-e2626600-2399-11eb-987c-c101a22003e8.png)

[2020-11-10 20:16] devnulli commented on #30
![image](https://user-images.githubusercontent.com/3720480/98728537-eee6be80-2399-11eb-9420-9926cc3704f0.png)

[2020-11-10 21:23] #30 closed

[2020-11-10 21:34] devnulli opened #32 "Windows Defender (and a few other heuristics) actually think we're a virus."
Great, well, now obviously, windows defender thinks we are a virus.
Well, we are not windows defender, but we are defending windows! (joke)

So, what can we do about that.. do we need a signed app?

[2020-11-11 13:55] shimuldn commented on #32
Crap.

Signin will be great but there is no free option available.
The minimum I can find €25.00 https://www.certum.eu/en/code-signing-certificates/

[2020-11-11 14:37] devnulli commented on #32
yea, looks like we need to sign the release.

[2020-11-11 17:39] devnulli commented on #32
ok, so while i absolutely understand the necessity to sign EvlWatcher 2.0, (being written in c# its easily changeable and could be used badly, especially because it runs as service) but it hurts.  why? because

oh man.. so   💸 💸 there go the 12€ donation money i got so far for EvlWatcher, and i can finally pay for EvlWatcher to be downloadable. 😠  as far is i know an extended EV somewhere well ove

[2020-11-11 18:06] devnulli commented on #32
While I'm waiting until EvlWatcher can afford a certificate, i suggest the following workaround

**Its pretty sure not a virus, when you make sure of the following:**

- only download it from here (github)

If you download it from somewhere else:

- check its MD5
   - for v2.0 the MD5 is `d658718ea9cc794e704b02b7c252365e`
   - to check an MD5 an windows, type `CertUtil -hashfile "EvlWatcher-v2.0 s

[2020-12-08 12:32] devnulli opened #33 "Make the documentation more detailed about the installation of EvlWatcher"
We should describe that EvlWacher need to be installed via installer, and installs the following components
- a service
- a client

will do that on the weekend

[2020-12-10 19:53] fernadie opened #34 "Active="false" property ignored for tasks"
Rules still run after restarting service, regardless of "Active" setting in config.xml.
Workaround: backup config.xml and delete Task.

[2020-12-10 19:59] devnulli commented on #34
can validate.
![image](https://user-images.githubusercontent.com/3720480/101823104-95a1b480-3b2a-11eb-8a2f-239348d1afba.png)

results in:
![image](https://user-images.githubusercontent.com/3720480/101823142-a05c4980-3b2a-11eb-8fe6-7f1b4be8c1a2.png)

[2020-12-10 20:06] devnulli commented on #34
problem found and fixed
![image](https://user-images.githubusercontent.com/3720480/101823721-7eaf9200-3b2b-11eb-9b86-92455a44cd7e.png)

[2020-12-10 20:20] devnulli commented on #34
have tested it, and in the corrected version, the disabled tasks did not run

[2020-12-10 20:22] devnulli opened #36 "Hey everyone, please provide us with samples, so we could support more default protocols, like FTP, MYSQL, and whatnot"

[2020-12-10 20:54] devnulli commented on #5
closed - to far away future

[2020-12-10 20:54] #5 closed

[2020-12-28 02:26] snblackout commented on #36
Could you even potentially support custom IP reporting?  Possibly EvlWatcher could scan the local database for entries that have been added from other services, like WebAPI that has detection if IP is trying to brute it's way, it could add entries into the database table, then EvlWatcher could occasionally scan that table for increases in the count of the trouble IP and act on it?

By the way, I j

[2020-12-28 12:22] devnulli commented on #36
i've got a question about the custom reporting, yea, i can add that no problem, but it would be nicer if the webapi would just dump events to the eventlog. if that was the case, it would just be a new task in the config.xml . if thats not possible, i guess i could add additional sources like databases or even apis.

about that windows defender  - you're right it really sucks. ill have to sign it.

[2020-12-28 12:28] devnulli opened #37 "Could you support custom IP reporting?"
Could you even potentially support custom IP reporting?  Possibly EvlWatcher could scan the local database for entries that have been added from other services, like WebAPI that has detection if IP is trying to brute it's way, it could add entries into the database table, then EvlWatcher could occasionally scan that table for increases in the count of the trouble IP and act on it?

By the way, I j

[2020-12-28 12:29] devnulli commented on #37
@snblackout i moved this issue here

[2020-12-28 12:30] devnulli commented on #37
i've got a question about the custom reporting, yea, i can add that no problem, but it would be nicer if the webapi would just dump events to the eventlog. if that was the case, it would just be a new task in the config.xml . if thats not possible, i guess i could add additional sources like databases or even apis.

about that windows defender - you're right it really sucks. ill have to sign it.

[2020-12-28 16:30] snblackout commented on #37
@devnulli I just started using this and did not know that you could customize the config.xml to read in custom event logs.  I will take a look at that for sure and see if I can make something work.  Thanks!

[2020-12-28 19:46] devnulli commented on #37
Im glad you like it. Let me know if you still need custom reporting after your finished.

[2021-01-02 17:24] devnulli commented on #37
hey, @snblackout, did it work?

greetings, Mike

[2021-01-06 04:09] snblackout commented on #37
Hello @devnulli I haven't tried it yet, but it is on my list. Sorry can't get to it that quickly with other things pending.

I do have a question though, I was looking through the config, and there is settings that suggest an IP could become perma-banned automatically.  I have a server, which is in the AWS realm of IP block, that is really getting hammered and it's a long list of IP that are temp

[2021-01-08 22:10] devnulli commented on #37
Hi, I will test that. I think that it works, and you don't get perma bans because the IPs are so diverse.  But I will add the count to the log entries so you can better reflect what happens on your servers.
Also, it only counts during one session, so when the service restarts or the server reboots, the counts are reset.

 Also, when you are really highly hammered, its recommendable that you dont u

[2021-01-09 18:13] snblackout commented on #37
The restarting of the service could be it then, because I was reading on here of a memory leak so people were restarting the service daily to prevent that.

Yeah having some reporting in the logs or some way to track a certain IP better over time would be better.  I'm ok with temporary bans, just seeing the list being so huge and none of them getting perma banned made me question after seeing in t

[2021-01-09 21:51] devnulli commented on #37
the memory leak has already been fixed, there is no need to restart anymore. the other thing will be added

[2021-01-09 21:57] devnulli opened #38 "report found IPs and there occurence count in log"
Having some reporting in the logs or some way to track a certain IP better over time would be better.
_Originally posted by @snblackout in https://github.com/devnulli/EvlWatcher/issues/37#issuecomment-757345607_

[2021-01-10 00:32] snblackout commented on #37
Oh, great, I'll remove my restart task then.  Thanks!

[2021-01-10 00:36] snblackout commented on #37
Just realized that's the beta, which I don't have installed, only the latest release.  So the memory leak isn't in the latest official release?

[2021-01-10 05:28] shimuldn commented on #37
@snblackout
Try this https://github.com/devnulli/EvlWatcher/blob/master/Versions/v2/EvlWatcher-v2.0%20setup.exe
No restart required.

[2021-01-13 15:02] snblackout commented on #37
Thank you @shimuldn

After 16 days of it running on the AWS server, and seeing IP ranges starting with 185.* in the hundreds on entries it seemed, those have finally fallen off.  My guess is those were coming from a particular individuals hacking attempt and realized the timeouts were happening from the firewall block and may have backed off for now or toned it down to see if an opportunity would

[2021-01-17 18:29] devnulli commented on #37
@snblackout can i close that, or do you still need custom IP reporting?

[2021-01-18 14:48] snblackout commented on #37
@devnulli You can close it.  I have yet to dive into the config.  Sorry for delay.

[2021-01-18 14:58] #37 closed

[2021-01-23 08:12] #34 closed

[2021-01-23 09:03] #33 closed

[2021-01-23 21:11] snblackout commented on #38
Just providing some information. I downloaded source, compiled and deployed.  I see the extra reporting.  Below is the output of an IP that is found by multiple configurations it seems, but is not in the temporary banned list in the console.

[code]

I see a "trigger count is X" and also "this is strike X".  What does these two mean exactly?

`Banning 193.93.62.73, this is strike 3`

Also looks li

[2021-01-24 10:36] devnulli commented on #38
about your question:
this is about how its meant to be:

trigger count : when the eventlog is scanned, there is a timeframe that is analysed (for instance, 2 minutes).
whenever someone generated more than <triggercount> logentry in these <triggercount> minutes, it comes to a ban.

![image](https://user-images.githubusercontent.com/3720480/105627336-a5552e00-5e36-11eb-9a1f-45f7fb240e27.png)

strike

[2021-01-24 11:22] devnulli commented on #38
setting the permanent ban crashes because service checks for client privileges

[2021-01-24 11:45] devnulli commented on #38
@snblackout  - thanks for your info, thanks to you we have fixed a bug that would prevent evlwatcher from permanently banning IPS.

just to make sure, do you have an message like "object reference not set to an instance" in your eventlog at the time the permanent ban would have beend set?
![image](https://user-images.githubusercontent.com/3720480/105629201-ed2d8280-5e41-11eb-999f-976871ede3b8.png)

[2021-01-24 12:51] #38 closed

[2021-01-24 19:44] devnulli commented on #32
Hi,

the new release has been signed, and we did a submissal to Microsoft Smart Screen, to report the false positive.
It will take a time for the certificate to gain trust, so i will leave that open to check back in a while.

It looks much better now though, I am certain that we will stop being a "virus" in some days

![image](https://user-images.githubusercontent.com/3720480/105641561-dc523080-5e

[2021-01-24 19:44] shimuldn commented on #32
What is the status of the certificate?

[2021-01-24 19:46] shimuldn commented on #32
Wow, hoping for stupid MS will fix soon.

[2021-01-24 19:48] devnulli commented on #32
To be honest.. they aren't SO stupid. It's okay to block unsigned code 😄 . But I will start calling them stupid if they still think we're a virus in one or two weekd 😁

[2021-01-25 18:11] devnulli commented on #32
i no longer get virus warnings, and would close this now.

@shimuldn , do you get any download warnings?

[2021-01-25 18:13] #32 closed

[2021-01-25 18:35] shimuldn commented on #32
@devnulli
Nope! Not a virus anymore! And developer verified :) thanks to 6 donner.
Good job.

<img width="477" alt="Screenshot 2021-01-26 at 12 02 05 AM" src="https://user-images.githubusercontent.com/12117121/105749734-d41ff100-5f69-11eb-9667-c7811515c43a.png">

[2021-01-25 18:51] shimuldn opened #42 "A shortcut on Start Menu"
Have to go to `C:\Program Files (x86)\EvlWatcher` to find the console app.
A shortcut on Startmenu also on Desktop will make this software user-friendly for normal users.

Adding on the Desktop can be optional.
It's a matter of 3 clicks adding the shortcut on Desktop for us but some users may struggle a little bit.

Again it's a less priority feature so take your time.

Thank you for making the In

[2021-01-26 16:50] snblackout commented on #38
Yes i was seeing that error in the event logs.  There was no stack trace attached so it really didn't point me anywhere.  Glad my info has helped!

[2021-01-26 22:08] snblackout opened #44 "Reducing event log reporting from the service"
@devnulli thanks again for your prompt replies and improvements.

On one of my servers I checked to see how many event logs were being created in 1 hour and it's about 3600, which is kind of a lot so if other applications on the server have issues, the service is pushing them down and out of view quickly.

I propose a better way for reporting.  Potentially a button on the console that you can crea

[2021-01-26 22:50] devnulli commented on #44
Hi,
Just to make sure. 😅
Whats in those entrys? Is it "found xxx", " banned xxx" (Info Level)  Or is it."checkin log"  ...nothing found.." ? (Verbose Level)

If its info level, you really need different ways of reporting , and we should think of something

If its verbose Level, you can turn the log level up in the config.

[2021-01-26 23:53] snblackout commented on #44
Most of them are below.  I have seen a couple 'banned XXX" but I would have to say vast majority are below.

`BlockRDPBrutersByRdpCore131: found 193.93.62.73, trigger count is 3`

I did notice going through, some have a very high trigger count.  Looking at the console, that IP is not in the temp or perma banned.  Interesting.

`BlockRDPBrutersBySecurity4625: found 186.96.174.85, trigger count is 3

[2021-01-27 20:34] dt64 opened #45 "Feature: Remove IP from temporary banned list"
currently if an IP is on the temporarily banned list it can be transferred to permanently banned list and white-listed IP list only. In a world on dynamic IP addresses this is unfortunate. If the temporarily banned IP list includes a false positive this IP needs to be permanently whitelisted where the admin probably wants to just remove it from the temporarily banned IP list instead.

Therefore it

[2021-01-27 21:33] devnulli commented on #44
Hi, I think it would be good to bring the `Found ...` messages to from Log Level Info to Log Level verbose. That way, they would not normally get logged into the windows log, unless you crank the log level down to `Verbose`. What remains is the entries when EvlWatcher is banning or lifting a ban. Do you think that would be sufficient?

Do you think that would be enough?

[2021-01-27 21:34] devnulli commented on #45
I think we can do that.

[2021-01-27 21:39] devnulli commented on #42
I dont know about the Desktop link (need to switch context from admin to current user somehow), but we can definitely do the start menu thing.
I'll look into it following [that](https://nsis.sourceforge.io/mediawiki/index.php?title=A_simple_installer_with_start_menu_shortcut_and_uninstaller&oldid=21654) guide here.

[2021-01-27 21:43] devnulli opened #46 "High trigger count without ban."
I did notice going through, some have a very high trigger count.  Looking at the console, that IP is not in the temp or perma banned.  Interesting.

`BlockRDPBrutersBySecurity4625: found 186.96.174.85, trigger count is 376`

_Originally posted by @snblackout in https://github.com/devnulli/EvlWatcher/issues/44#issuecomment-767907144_

[2021-01-27 21:44] devnulli commented on #46
`BlockRDPBrutersBySecurity4625: found 186.96.174.85, trigger count is 376` thats interesting. that should definitely get a perma ban, unless its whitelisted. could you keep an eye on that?

thx

[2021-01-27 23:33] snblackout commented on #46
I'll keep a look out, but that IP is not in any events when I search now as old events got purged.  Strange.  Will try to find more with high trigger counts that aren't being temp banned.

[2021-01-27 23:35] snblackout commented on #44
That could work.  Would the event logs that are created for banning or lifting ban be for temp and perma?  Since I will be watching for that high trigger count, I kinda have to keep it as is for now though.

[2021-01-28 00:00] snblackout commented on #46
Found another IP that is being weird with high trigger count, but this one made it to the temporary ban.  But still had event logs come in after that.  Maybe a carryover of logs scanned from previous?  Also, when you temp/perma ban an IP, there might be a chance you'll pick up more invalid event logs after that just from the time it took to create/update the firewall entry?  Just a thought.

Check

[2021-01-28 06:34] devnulli commented on #46
hi, that seems okay, when i read that correctly, the ip was already banned, but past log entries were put to analyze again.
this is the case, because the event-age is normally 2 minutes, so all events from the past 2 minutes are routed to the task, while the task is executed every 30 seconds or so. -  im closing this

[2021-01-28 06:34] #46 closed

[2021-01-28 07:52] debpalash opened #48 "Dark Mode and NS Lookup feature requests"
Really a good sofware, my RDP's was constantly brute-forced by random IP's and often i couldn't login to them.
I have some improvement/feature requests.

- _**Local ip list backup/sync with software updates/reinstall [ Urgent] EDIT: was moved to own issue**_
- Dark mode
- IP whois/region info either by third party or implemented inside app

Thanks @shimuldn for suggestion to use this.

[2021-01-28 08:00] shimuldn commented on #42
Only the Start menu will work.
The desktop shortcut is not necessary. It's just my thought for non-technical users.

[2021-01-28 08:08] shimuldn commented on #48
Permanent Ban list auto backup & restore is required for an upgrade or reinstall.

[2021-01-28 08:28] devnulli commented on #48
Yeah losing the ban list as well as custom tasks when upgrading is a true issue

[2021-01-28 08:50] shimuldn opened #49 "Update management"
Future plan:
Auto-update the software or an option to check the update available, click to download and install or something similar for a better user experience.

[2021-01-28 10:46] devnulli commented on #49
auto updates: i would rather not do that. right now, the service runs a localservice (not as localnetwork), meaning it can guarantee every admin, that it will never, under no circumstances communicate (external or internal) over the network.

maybe updating via the console app, that could be an option. -
we could look into that, but not in the close future - but lets keep it a feature request. - w

[2021-01-28 10:56] shimuldn commented on #49
Auto-updates: Good point, I agree.

Yeah, who knows. Let's where the apps go!

[2021-01-28 11:03] debpalash commented on #48
@devnulli so the ban/temp list get saved in readable files?

[2021-01-30 22:14] devnulli commented on #42
![image](https://user-images.githubusercontent.com/3720480/106369345-f7271800-6350-11eb-944a-f8dff4fd4f4c.png)

[2021-01-31 06:51] shimuldn commented on #42
Wow. Thank you

[2021-02-05 09:18] Artym1 opened #52 "add ssh protocol support"
This can be quite useful. Thanks for the great work.

[2021-02-05 09:25] shimuldn commented on #52
@Artym1 Can you describe what you're looking for?

[2021-02-05 17:16] devnulli commented on #52
@Artym1 If you Can provide us a Sample from the Windows event log (provoke a failed login and find the event log entry), we will gladly add it instantly.

If theres a different kind of logging in place, (file based or whatever) just provide that instead.

Thx

[2021-02-05 22:43] devnulli commented on #45
will be in the next release

[2021-02-06 10:33] devnulli opened #53 "IP-Lists and custom tasks are lost when upgrading"
Permanent Ban list auto backup & restore is required for an update or reinstall.

_Originally posted by @shimuldn in https://github.com/devnulli/EvlWatcher/issues/48#issuecomment-768876783_

When a new version is installed, the config.xml is replaced and all local lists (Permanent Ban list, Whitelist) are lost.

[2021-02-06 10:34] devnulli commented on #48
i have separated the issue that you lose lists from the other feature requests
its now in  #53

[2021-02-11 09:26] derodevil opened #55 "EvlWatcher Service has stopped working"
I try on Windows Server 2016. A console shows this error before the application shown.

[code]

[2021-02-12 07:28] devnulli commented on #55
@derodevil
this can happen when:
- a second instance of EvlWatcher is already running. for example, when you manualy start evlwatcher.exe while also running as service
- another service application also uses the same named-pipe

could you answer the following questions?
- did the service crash righ at startup (what i guess), or after running for a while (what would be strange)
- can you reproduce

[2021-02-12 07:29] devnulli commented on #55
whoops accidentally closed it :D

[2021-02-19 21:17] #55 closed

[2021-03-12 11:19] s-bourdon opened #56 "Would it be possible to add Apache logs to EvlWatcher?"
Hello,

I've just setup a WAMP server (https://www.uniformserver.com/) on my Windows 10 computer and was wondering if EvlWatcher could help me secure it. I would like to add Apache logs to EvlWatcher (which are located at «D:\Logiciels\UniServerZ\core\apache2\logs\access.log»).

What bothers me are the following lines that are probably executed by bots looking for vulnerabilities in web servers:

[2021-03-17 19:46] deepdvd opened #57 "Change image options in console?"
Thanks for all your hard work on this project. I love it!  Except one thing.

Maybe it's just me, but when I open the console, it feels like I'm being flipped off.  I know it's meant for the hackers, but could we add an option to customize the background images?  Or even just replace the image with a cross-out symbol like this:
https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/ProhibitionS

[2021-04-09 00:58] didyouexpectthat opened #58 "Add all temporary to permanent"
I multi-select temp banned IPs and click the 'lock' for each IP to permanently ban it. It would be cool if:

- When multi-selected, add all temporary IPs to permanent IPs at once (not having to click the lock for each selected IP), or
- An "Add all" button to add all temporary IPs to the permanent list without selecting any.

Sometimes I have a lot of temp banned IPs and I want to bulk-add them al

[2021-04-12 11:10] did-vmonroig opened #59 "Windows 2008 R2 missing event log"
In this ancient operating system EvlWatcher throws an error every 30 seconds in Live tab, trying to look for a non existing event log:

`12/04/2021 13:08:01 - [Error]: Event Log Microsoft-Windows-RemoteDesktopServices-RdpCoreTS/Operational was not found, tasks that require these events will not work`

Seems that Windows 2008 R2 needs another ruleset to work properly.

[2021-04-12 14:26] pelosuki commented on #59
Worked fine for a few days, but now I`m having the same problem, Windows 2008 R2 as well.

Others Windows versions looks tha works fine

[2021-04-15 09:10] devnulli commented on #59
I can't fix that missing event source. When it's not provided by the OS, it's not there. But if you find any events that ARE there and could identify IP-bruters , but are not yet known to EvlWatcher on 2008 R2, please post them.

[2021-04-15 09:11] devnulli commented on #59
Waiting if any new Events are provided before closing that.

[2021-04-15 09:15] devnulli commented on #58
Seems a good idea

[2021-04-15 09:16] devnulli commented on #56
Turns out we cant help here.

[2021-04-15 09:17] #56 closed

[2021-04-15 09:26] devnulli opened #60 "EvlWatcher should throw Error only once, and not every 30 seconds when an Eventlog is not there. also, a way to ignore rules for older OS"
- that should be logged ONCE at service start, and not every 30 seconds
- rules need a ignore option, so they can be ignored for OS-Versions where the rule is not applicable

[2021-04-15 09:27] devnulli commented on #60
subtrate from  #59  @did-vmonroig

[2021-04-18 19:20] #59 closed

[2021-04-18 20:56] devnulli commented on #57
i have now replaced that image with a the "safe for work" image. i did not create an option for that, as that would create extra complexity just for coolness, which is not the point . So:

![image](https://user-images.githubusercontent.com/3720480/115160588-4bf94580-a099-11eb-8be2-8b844e8f68d4.png)

[2021-04-25 02:37] campbellkerr opened #63 "App crash: "AddressAlreadyInUseException""
Fresh install (win7), attempted to open the GUI and it crashed. Service is running. Couldn't find any quick/obvious fixes on google. Any ideas? Cheers

![image](https://user-images.githubusercontent.com/38451588/115978428-ac6d1300-a5c2-11eb-8782-df273c912529.png)

[2021-04-25 14:59] devnulli commented on #63
You are attempting to run the service executable. (which always runs in background).,
To open the console, run EvlWatcherConsole.exe

[2021-04-25 15:00] #63 closed

[2021-04-25 15:01] devnulli commented on #63
i admit its misleading xe names tho :)

[2021-04-28 10:54] FranticOrange opened #64 "White-listed IPs are not banned, but they ARE displayed in the ban list when found - behaviour is misleading"
192.168.* is present in the white-listed IP patterns but some IPs on the local network are added to the banned lists, e.g. 192.168.1.230. Adding 192.168.1.* to the white-list doesn't resolve this either. Removing the banned IPs from the list only results in them being added again at some future point.

[2021-04-28 13:21] FranticOrange commented on #64
An update to the above: IP addresses that match the white-listed patterns are **not** added to the firewall rule, but they **are** added to the internal ban list. This is what was misleading so perhaps that behaviour could be changed so as to be more consistent.

[2021-04-28 15:49] devnulli commented on #64
Great Feedback, thanks. I'll look into it

[2021-05-02 12:54] ravetroll opened #65 "Allow Wildcard permanent ban strings"
I noticed a lot of bans on individual ip address coming from a /24 subnet.  I would like to be able to enter a wildcard ban on a subnet to permanent bans but it is not currently possible as the wildcard is not a valid ip address

[2021-05-03 10:09] Paarsch opened #66 "RD Gateway support"
Hi!

After researching an issue with a RDS envoirment, i came across your application. It looks awesome, simple and to the point. I Do have a question on implememting it though; how does a setup with a RD Gateway work? is EvlWatcher installed on the central RD gateway? or on each RDS host within the farm?

Kind Regards.

[2021-05-03 15:54] Adambean opened #67 "Version 2.0 suddenly being flagged as severe "Trojan:MSIL/Masslogger.VN!MTB""
Hello,

It appears as of today Microsoft's Windows Defender is flagging the installer for version 2.0 as a severe trojan, specifically "Trojan:MSIL/Masslogger.VN!MTB".

![image](https://user-images.githubusercontent.com/1108717/116899296-4bcb7f00-ac2f-11eb-951a-2b53e371dd22.png)

As this is on a network share of my pooled software downloads I couldn't be sure if it's the installer specifically bei

[2021-05-04 18:36] devnulli commented on #67
Hi, this is fixed in version 2.1, see #32
EvlWatcher 2.0 was an unsigned dll, and while its most probably not a virus (you can check by checking the hash), the defender heuristics see that it has a kind of unsafe behaviour for a unsigned dll (like messing with the firewall).

closed as duplicate

[2021-05-04 18:37] #67 closed

[2021-05-18 12:13] Adambean commented on #67
Sorry, didn't spot #32. Thanks for resolving this. :)

[2021-06-03 15:21] Sparticuz opened #68 "Silent install options"
I would like to push this out via group policy, but would need either Silent install options, or an MSI package. Are either of these available? (Hah, i'll also be waiting for #62 to go through)

[2021-06-03 20:03] devnulli commented on #68
hi.

would it be sufficient to add  /s parameter to the existing installer, which then does silent install?

[2021-06-03 20:33] #42 closed

[2021-06-03 20:33] #44 closed

[2021-06-03 20:33] #45 closed

[2021-06-03 20:33] #48 closed

[2021-06-03 20:33] #57 closed

[2021-06-03 20:38] #68 closed

[2021-06-03 20:46] devnulli commented on #66
Hi, i can't directly answer your question, but it should be installed on the system where the event log entries for failed logins are being generated.
My guess would be on each host, but you can only know for sure when you try it. Log on with incorrect credentials into a host via RDS and check the Windows Event Log.

[2021-06-03 20:47] #66 closed

[2021-06-03 20:48] devnulli commented on #6
this feature request timed out. closing it

[2021-06-03 20:48] #6 closed

[2021-06-03 20:48] devnulli commented on #7
this feature request timed out - closing it

[2021-06-03 20:48] #7 closed

[2021-06-03 20:51] devnulli commented on #60
ill try to fix that in 2.1.3, the obvious workaround is to delete the rule until then

[2021-06-04 13:45] Sparticuz commented on #68
Awesome! Thanks!

[2021-06-19 01:51] Patrick524 opened #70 "Remote access sample, please help with task."
Hello, please provide suggested new task details for config file based on the sample below.

Log Name:      System
Source:        RemoteAccess
Date:          11/9/2020 1:47:42 AM
Event ID:      20271
Task Category: None
Level:         Warning
Keywords:      Classic
User:          N/A
Computer:
Description:
CoId={NA}: The user Administrator connected from 45.146.164.159 but failed an authentication

[2021-06-19 14:10] devnulli commented on #70
hi,
could you try to add this to the tasks
[testtask.txt](https://github.com/devnulli/EvlWatcher/files/6680818/testtask.txt)

in case it doesnt work, (i dont have such entries),

could you repost the xml in xml format pls, should look like that?
![image](https://user-images.githubusercontent.com/3720480/122644746-1dd6c700-d117-11eb-8215-5031de80d83e.png)

[2021-06-19 15:53] Patrick524 commented on #70
Here is the XML image requested.
![remote access error log](https://user-images.githubusercontent.com/86136512/122647956-bcddcd80-d0db-11eb-91fc-c8fc284ba004.JPG)

[2021-06-20 00:49] Patrick524 commented on #70
A basic regex works in the tester,
e.g. (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
but when adding to the config file, it's seeing something it doesn't like, won't start the service.

[2021-06-27 09:16] devnulli commented on #70
hi patrick,

did you try to put the task (see above, testtast.txt) into your config?
if so, did it work?

greetings, Mike

[2021-06-27 21:00] Patrick524 commented on #70
Yes have tried, sorry but it's still not working.

[2021-06-27 21:00] Patrick524 commented on #70
![regex failing](https://user-images.githubusercontent.com/86136512/123559300-079cbc80-d750-11eb-98a7-48ddc3d5d8d1.JPG)

[2021-07-01 01:43] JReming85 opened #71 "Implement a community list or abusiveip db"
Would be nice to have a community managed list of bad actors or importable bad ip's.

I used to make lists with fail2ban and share them on a git long ago, but now its easier to just have them auto report using one of fail2ban's reporting actions.

Just think it may be "nice to have"  a sharable list of undesirable ip's.  The only downside is how it would be managed as I dont want to blacklist anyo

[2021-07-01 16:57] JReming85 commented on #36
I dont have those services running but maybe you can get some help from cyberarm's abandoned project https://github.com/EFTEC/Cyberarms

Also as I offered long ago, if you need a test server I can provide a small windows server for you to use (VM running on one of my other servers w/ its own IP)

[2021-07-06 00:43] itgmnew opened #72 "How can I edit Config.xml?"
How can I edit Config.xml?

I stopped EvlWatcher in Windows Service Management.
And I modified Config.xml and saved it, then I see a message saying that 'Access Denied'

Please tell me how to edit it. ^^

[2021-07-06 01:09] itgmnew commented on #72
Giving the file permission solved the problem

[2021-07-06 01:09] #72 closed

[2021-07-12 17:28] devnulli commented on #70
hi,

sorry for the delay (im a fresh father now :heart: )

you could try the following regex:

    Data\>(\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\<\/Data

as in [this sample](https://regex101.com/r/sCLBm4/1)

please note, when you copy the regex into the xml, the regex needs to be escaped, so in the xml, it should look like this:

    Data\&gt;(\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\&lt;\/Data

if you want to

[2021-07-12 18:33] shimuldn commented on #70
@devnulli Congratulations fresh father ❤️ ❤️

[2021-07-12 18:44] devnulli commented on #71
Hey Jeremy,

Sorry for the late reply (Im a freshly baked father :heart:)

Uh yea, community based lists. It is THE **evergreen** of topics, and yea, I thought a lot about that. Also, @NukeDev  had something like that in mind. Generally, it's a cool idea, but it is a very difficult topic, and I want to share my thoughts about that with you, so you can also take them into consideration .

I want to

[2021-07-12 18:56] devnulli commented on #70
Thx :grin: :grin:

[2021-07-13 10:07] tichachm opened #73 "Disable Permanent Ban"
Hi,
just a short question, is there a way to disable the permanent ban functionality.

The only way I found seems to be settting the value in the config file to a verry high number like:
`

      <PermaBanCount>
        2147483647
      </PermaBanCount>
`
But we would like to fully disable this feature. How can this be done?

Thank you

[2021-07-13 11:47] JReming85 commented on #71
Completely agree, I was also thinking of having it as its own exe so those that dont want to contribute/use wont and the original "no external internet communication" standard will be honored with EvlWatcher.

It would even work to have it do the program update as well, check github to new version, send command to EvlWatcher to stop and close while it updates and then restarts the service when don

[2021-07-13 13:43] devnulli commented on #71
ill leave the discussion part of the issue open for a while as a reminder, if you start anything, let me know.

[2021-07-25 15:22] #70 closed

[2021-07-25 15:22] #71 closed

[2021-07-25 22:47] Patrick524 commented on #70
Congrats on being a father!
Sorry it took so long to reply.  The regex works now.  I will be adding comments as I'm testing this on a production system.
![ips regex works](https://user-images.githubusercontent.com/86136512/126915769-4eadce2f-aa8b-4e86-8b0b-a2aecd8f6e5c.JPG)

[2021-07-26 05:10] devnulli commented on #70
great, thanks. you should also remove "failed" and "attempt" from the boosters for it to work.
if there are any more questions, just reopen the issue.

[2021-07-26 06:30] Patrick524 commented on #70
Can you remind me why those terms should be removed from the boosters?  In the example you provided at the start of the issue thread, testtast.txt, those boosters are used?

[2021-07-26 06:50] devnulli commented on #70
sure. before the service tries to matches the pattern, it checks if these words are present (that is because regex pattern matching is a very expensive operation).  so, to keep cpu usage low, the service will check if the given booster words are present in the event log entry, before going further.

if i had those boosters in the original txt file, because in your original posting, this text was p

[2021-07-27 20:37] dpinse opened #74 "Persistent temp bans after reboot"
Restore temp bans after server reboot or log the ban count and apply to future bans.

[2021-08-28 04:40] devnulli commented on #65
heres an interesting thing:

https://social.msdn.microsoft.com/Forums/ie/en-US/32614b57-f3a3-437f-a659-4777f5e6bd68/windows-firewall-limits?forum=wfp

[2021-08-28 15:10] JReming85 commented on #65
Yea depending on version can be anywhere between 500-1000 per rule

[2021-08-28 17:52] ravetroll commented on #65
Does this mean that EvlWatcher cannot push more than 1000 addresses into its block list?  Mine currently has 1543 permanent bans?

[2021-08-28 18:04] JReming85 commented on #65
Thats per rule, there is no limit to what EvlWatcher an block just how fast your system can read all the rules it creates.

[2021-08-28 18:07] ravetroll commented on #65
There is only 1 EvlWatcher rule in my system.  Its in Inbound Rules and called EvlWatcher.

[2021-08-28 21:27] devnulli commented on #65
it can push UNIT32 filters per rule (the banned ips) and UINT64 rules (1 rule called Evlwatcher).

[2021-09-05 18:28] devnulli commented on #74
hi,

i also thought about that, but when you look into that, you come to the conclustion that its way too much effort for what it's worth.
temp bans would be restored when the attacker is still present at reboot, and if he is not, its no point in temp banning hime

im sorry, but i wont fix that one in the near future

[2021-09-05 18:28] #74 closed

[2021-09-14 18:31] #58 closed

[2021-09-14 18:31] #60 closed

[2021-09-14 18:31] #64 closed

[2021-09-14 18:31] #73 closed

[2021-09-14 18:55] devnulli commented on #53
dont know why this was closed. its a mistake.

[2021-09-14 19:14] devnulli commented on #52
openssh support is not provided

[2021-09-14 19:14] #52 closed

[2021-09-16 18:47] shimuldn commented on #53
Linked pull request @version 2.1.2 (Release: April 2021)

[2021-09-17 10:47] devnulli commented on #53
Ah. Welp its not done. Maybe i planned doing it and forgot 🤔

[2021-09-19 09:26] peyman47 commented on #49
sql server port 1433 would be great if supported

[2021-09-19 09:29] peyman47 commented on #36
sql server 1433 port would be great

[2021-10-01 05:49] Pegasus-RPG opened #81 "Support IPv6 addresses"
Hello. Does EvlWatcher already support IPv6 addresses? I don't see the standard link-local addresses in the default white list so I'm assuming not.

So this is a feature request to add IPv6 support. :)

[2021-10-18 17:36] devnulli commented on #81
I think I could do that but i would need an example log entry.

Let's also ask @JReming85 if he maybe happens to have Ipv6 bruters.

[2021-10-22 22:48] LibertyChief opened #83 "Windows 7: "Event Log Microsoft-Windows-RemoteDesktopServices-RdpCoreTS/Operational was not found""
I'm seeing the following notification in the console: "[Info]: Event Log Microsoft-Windows-RemoteDesktopServices-RdpCoreTS/Operational was not found, tasks that require these events will not work and are disabled". I'm using this software on Windows 7. Could this possibly be the reason for the log not existing?

[2021-10-25 17:07] #83 closed, assigned to nobody

[2021-11-16 21:48] geoced commented on #81
Here is an example of an OpenSSH event for an IPv6 address. It's a link-local address, so it should be whitelisted, assuming the default list of whitelisted IP patterns is updated to include IPv6 addresses as well.

sshd: Failed password for user from fe80::f829:87f0:45c6:192a%15 port 2420 ssh2

[2021-12-02 11:22] Shidapu opened #84 "Issue: Cloudflare plan / Blocking Cloudflare source IP. / Reverse Proxy issues"
Heya, im having issues with the application blocking Cloudflare source IP: 172.32.0.1 as the random person/bot is trying different usernames to login remotely. When the application blocks this IP, all my websites dies, because the Cloudflare IP is my passage for everything.

I have whitelisted the IP, but i cant see the real IP the attacker is sending from.

[2021-12-02 18:43] devnulli commented on #84
As a reverse proxy, all visitors to your site will come through Cloudflare IP addresses, but will include headers identifying the real source:
CF-Connecting-IP
X-Forwarded-For

the question is: are those headers contained in the logs ? could you post the original xml entry?

[2021-12-26 18:03] devnulli opened #85 "Certificate Renewal"
The certificate of EvlWatcher needs to be renewed, as it will run out on January 24.

[2022-01-03 19:34] #84 closed

[2022-01-23 20:15] #81 closed

[2022-01-23 20:15] #85 closed

[2022-01-25 16:40] xcjs commented on #36
@brighthorizon A while ago I added SSH support, which should at least cover SFTP.

[2022-02-25 09:25] PavelDmitrenko opened #87 "0.0.0.0"
The ipv4 address 0.0.0.0, which under [some circumstances](https://digirati82.com/2015/10/05/windows-7-2008-rdp8-incorrect-source-network-address/) appears in the Windows logs, is automatically added to the blocked list, thus blocking all subnets.

[2022-02-25 09:29] chernots commented on #87
[](url
![photo_2022-02-25_11-23-45](https://user-images.githubusercontent.com/68702990/155690735-309ea79e-36d7-470d-9b5e-7f605d9c57f3.jpg)
)

[2022-02-26 15:40] devnulli commented on #87
Thanks. Nice find.

Will fix that.

Workaround: add 0.0.0.0 to the Whitelist, of course

[2022-03-19 04:34] kimboslice99 opened #88 "Collection was modified; enumeration operation may not execute."
Seeing `Collection was modified; enumeration operation may not execute.` in the live output, what does this mean?

[2022-03-19 13:22] devnulli commented on #88
hi, this seems to be a programming error that can happen while multithreading.
do you see any more output?

[2022-03-19 17:15] kimboslice99 commented on #88
No other output, I notice this occurs every once in a while (every few weeks maybe?). A restart of the service seems to resolve it, at least until it reoccurs

Is there some place I might find a logfile so I can trace back to the first occurrence?

[2022-03-20 17:16] devnulli commented on #88
you could check the windows event log (application) if there are any events with source EvlWatcher, and see if theres more there

[2022-03-21 21:07] kimboslice99 commented on #88
Haven't seen anything in the event log, will update this thread when/if I do find anything

[2022-03-22 13:34] foxontherock commented on #65
I think an option to always add ban to subnet .0/24 by default, instead of a specific IP, can be interesting.
Lots of my permanently banned IPs are from the same subnet.

[2022-03-22 17:14] brighthorizon opened #89 "event log"
Just wondering if anyone else gets this message in their logs? What does it mean and is there a fix?
Warning: Task BlockRDPBrutersByRdpCore140 takes a lot of resources. This can make your server vulnerable to DOS attacks. Try better boosters.

[2022-03-22 19:21] devnulli commented on #89
hi, this warning message indicates that it takes EvlWatcher more than 500 milliseconds to check the configured timeframe for bruters.

this could be that

a) your timeframe is too big (e.g. you look too far in tha past)
b) someone is ridiculously fast in changing ips and retrying (e.g. you get a LOT of event log entries)
c) your pc is rediculously slow

it's not a problem at all, but evlwatcher gi

[2022-03-23 20:50] brighthorizon commented on #89
got it thanks, i'll keep monitoring it

[2022-03-27 16:20] MadCowChicken commented on #88
I'm getting the same thing (`Collection was modified; enumeration operation may not execute.`)

[2022-03-27 16:28] MadCowChicken commented on #89
What does "try better boosters" mean?

[2022-03-27 17:49] MadCowChicken opened #90 "A couple feature requests"
### Part 1

Feature request:  Global config file settings for:
- LockTime
- EventAge
- TriggerCount
- PermaBanCount

Then for each type of event (RDP, SSH, FTP etc...) the same four XML elements can be present, and global settings used if they are empty.

### Part 2

Also, how does the EvlWatcher Windows service work?  Does it pull all Windows Security events within EventAge every time it polls th

[2022-03-27 18:11] MadCowChicken opened #91 "Bug: Console Backlog set to last 3000 entries, yet behaving as if set to 1"
I was getting different console messages about the modified collection error, but it would only show the most recent one.

[2022-03-29 18:01] #89 closed

[2022-03-29 18:02] devnulli commented on #88
since the eventlog does not show errors, it seems to be a bug on the console side.
i'll look into it

[2022-03-29 19:41] devnulli commented on #90
### ad Part 2: changed the comment in the config.xml so that it now states:
![image](https://user-images.githubusercontent.com/3720480/160694082-eb4115b4-af61-459f-8c6a-4f4613aaac03.png)

[2022-03-29 19:43] devnulli commented on #90
Part 1 will be implemented, as it is also how fail2ban does it

[2022-04-06 09:03] smertrius01 opened #92 "XXX Task takes a lot of resources [some reports of CPU / Duration of Log analysis exceeds 500 ms]"
Hi I am getting this warning nearly constant but im unsure how to resolve.
Its installed on a fresh windows 2019 server and CPU at 1% RAM at 9% total while running.

I dont see any IP v6 being banned nor do i see any issues relating to it in event views so im not sure why im even getting this warning. It may not be an issue with Evlwatcher but without knowing why im getting it I dont know where to

[2022-04-06 18:55] devnulli commented on #92
Hi.

- Did you change anything in the config file? (especially things that make more events relevant, like increasing the timeframe) ?

[2022-04-06 22:22] guillotjeremy opened #93 "Task "BlockRDPBrutersBySecurity4625" block SMB share access"
Hello,

I have several servers in WORKGROUP which are protected by EvlWatcher.

When I try to access these servers through Windows Explorer from a machine that is connected to a domain, I have a lot of event id 4625 (0xC0000064: Unknown user name or bad password) in the Security logs of the server .

Indeed, before showing me the credentials prompt, my machine first tries to connect with the accou

[2022-04-07 04:27] devnulli commented on #93
Could you post an example log entry?

[2022-04-07 06:46] smertrius01 commented on #92
Hi, No changes at all to the software, the test server in question has had dns, iis and smartermail installed but it only set to serve webmail with no traffic being generated (legitimate traffic). After getting the message i have changing log level to debug.

It is a 12 core 3.6Ghz 64GB ram with NVMe drives so i was thinking the message could be a stock message if a setting is enabled as this was

[2022-04-07 06:55] guillotjeremy commented on #93
- Security Logs :

![image](https://user-images.githubusercontent.com/55665578/162136481-803bbb59-d044-4984-bf47-c64bb81e9a11.png)

- Event ID 4625 :

[-](https://github.com/devnulli/EvlWatcher/issues/93#) <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
[-](https://github.com/devnulli/EvlWatcher/issues/93#) <System>
  <Provider Name="Microsoft[-](https://github.com/devnulli/E

[2022-04-07 16:51] devnulli commented on #92
hm. normally it shouls work a few hundred ms and then sleep.

since this is the 2nd issue and its the same task, ill look into the regex

[2022-04-11 08:51] ixion160 commented on #92
Hello,
I have exactly the same message as [smertrius01] in the Windows logs but that said, everything works perfectly except that as for [smertrius01], there is excessive logging in **Windows logs --> Applications.**

**The message generated is the following:**

`Warning: Task BlockRDPBrutersBySecurity4625 takes a lot of resources. This can make your server vulnerable to DOS attacks. Try better bo

[2022-04-11 19:00] devnulli commented on #92
i will classify this CPU sink as a bug now

[2022-04-11 19:02] devnulli commented on #92
disabling the RPD Tasks will deactivate the CPU usage, yep.

[2022-04-11 19:15] devnulli commented on #91
fixed the backlog issue (did not fix the original issue)

[2022-04-11 19:51] devnulli commented on #93
if whitelisting your subnet is not an option, you could purposedly fail at an rdp logon, and compare the event log entries.
if there is anything that distincts the RDP logon from the AD logon, you could try to alter the booster or the regex.

[2022-04-11 19:56] devnulli commented on #92
i removed the event log spamming, increased the gap for the warning a bit, and added a better explainatory text

[2022-04-12 16:55] TechnoJaguar opened #94 "Warning: Task BlockRDPBrutersByRdpCore140 takes a lot of resources. This can make your server vulnerable to DOS attacks. Try better boosters."
I've looked through my event logs for anything matching 140, and not seeing anything, but this continues to cycle through my event logs constantly.

Mine are nearly all 4625, so I'm curious what is triggering this.

Thanks!

[2022-04-12 16:56] TechnoJaguar opened #95 "[Enhancement] Allow Adding Country IP Blocks from IPDeny"
https://www.ipdeny.com/ipblocks/
If you could have a selection list to import these IP zones that would be amazing.

[2022-04-12 17:28] devnulli commented on #94
there seems to be an issue with evlwatcher taking longer than 500 milliseconds to analyze the logs. i think this is the same problem than #92, so i'll put this XXX takes a lot of resources problem together there

[2022-04-12 17:29] #94 closed

[2022-04-12 17:29] devnulli commented on #92
#94 also goes in this direction

[2022-04-14 11:24] smertrius01 commented on #92
Hi,
sorry for the delay in replying. I have attached 2 sheets with around 10 mins ish of both the application e3vents and the security events in that same time frame ish (for some reason it seems the time might not be in the correct order once it was saved, it looks like its starts at 11:43 but it has 11:41 in there also?? It does seem to have gaps now in the application view which it didn't befor

[2022-04-14 15:29] ixion160 commented on #92
Hello,

also sorry for the delay in my response...

I have  ID 4625 entries in the security logs but not so much... and only about sshd.exe, with this kind of message:

**An account failed to log on.

Subject:
	Security ID:		SYSTEM
	Account Name:		SRV-xxxx$
	Account Domain:		xxxxx
	Logon ID:		0x3E7

Logon Type:			8

Account For Which Logon Failed:
	Security ID:		NULL SID
	Account Name:		NOUSER
	Ac

[2022-04-14 18:40] devnulli commented on #92
so, i think this warning hast gone crazy and does warn about CPU spikes that are not there.
i will release a new version next week and fix this, as it is stuffing the event log

[2022-04-14 19:30] #87 closed

[2022-04-14 19:30] #91 closed

[2022-04-14 19:30] #92 closed

[2022-04-14 19:35] devnulli commented on #92
@smertrius01  please check out the new release 2.1.5 instead of deactivating the task

[2022-04-14 19:39] devnulli commented on #90
reopened for part 1

[2022-04-20 14:19] Sparticuz commented on #49
@shimuldn This is how I am managing updates for EvlWatcher. (Also how I install it initially across my domain) I put this script on my GPO->Computer Config->Windows Settings->Scripts->Startup and it checks if EvlWatcher is installed, and if it's out of date. To update EvlWatcher, I put the exe in the correct spot, then update the `$version -eq 2.1.5.0` to be the correct version

[code]

[2022-04-21 07:56] smertrius01 commented on #92
Hi, Ive been back on the test server today updated EvlWatcher and can confirm the event viewer>applications is now very clean and only a few posts a min depending on when IP's are being banned. I do wish i had looked at the other reported issues namely the ban list being lost on update or i had just backed up in case lol
I quickly renamed the ban list in firewall so i can move them back into Evlwa

[2022-04-21 09:00] chernots opened #96 "whitelist"
Hi,
why is the whitelist being overwritten by banlist?
![bug](https://user-images.githubusercontent.com/68702990/164419600-1c3a69b1-9e1f-4c65-967f-cec621a0b731.png)

 That actually same IPs...

[2022-05-02 10:52] Tristar7 opened #97 "Errors/crashes when ban-list gets too long"
When the ban-list surpasses 10'000 entries it stops working, eats lots of CPU and throws following error

`[Error]: The array bounds are invalid. (Exception from HRESULT: 0x800706C6)
`

additionally it is not possible to delete the ban-list from within the program as it crashes with

[code]

[2022-05-02 19:48] devnulli commented on #97
Hi.

the crash is happening in the console, not in the service.
this means, that the service is running normally, but the (huge) amount of IPs cannot be transferred to the console via its named pipe

- you can remove the (huge) amount of IPs by editing the config.xml file and removing them.
- you can alternately uninstall evlwatcher (which will also remove the confit where the xml file is stored)

[2022-05-06 17:15] #93 closed

[2022-05-06 17:18] devnulli commented on #96
Hi, is this issue still present in the latest Version
Which version are you using?
(Possible duplicate of #64 )

[2022-05-11 11:16] #96 closed, assigned to nobody

[2022-06-02 06:45] KRiZ-R commented on #88
Hi, I just found this program and installed it to test. I see this same problem in the console and eventlogs. This is from the eventlog:

Log Name:      Application
Source:        EvlWatcher
Date:          6/2/2022 7:51:26 AM
Event ID:      0
Task Category: None
Level:         Error
Keywords:      Classic
User:          N/A
Computer:      TESTRDS2022
Description:
Collection was modified; enumerati

[2022-07-05 14:22] phil-highrez opened #98 "Other log sources (non Windows Event log)?"
Would it be possible to add other log sources (as in not the Windows event log)?
Many third party programs do not write to the windows event log, but have their own logging, and with fail2ban this would be easily accomplished by adding the path to the log file and any regex required to check etc.

For example, I'm using Roundcube for and hMailServer for mail, plus plenty of other stuff (Filezilla

[2022-07-05 14:26] phil-highrez opened #99 "Ability to communicate with gateway firewall or maintain a txt list of blocked IP addesses"
It would be *really* neat if it could interface with an external API to add/remove firewall rules (for example OPNSense/pfSense using their API's to add rules to the gateway firewall as well as/rather than the local Windows firewall).

Alternatively, just create/maintain a simple text file list of blocked IP's that can be automatically sucked in to the OPNSense firewall aliases list every so often

[2022-07-05 19:36] devnulli commented on #99
hi, you can just parse config.xml, the list is persisted there

[2022-07-21 10:41] alij opened #100 "Adding sql server logons"
Please find event log for sql server logon attempts. It's in "Windows Logs"/Applications in EventViewer:

<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="MSSQLSERVER" />
  <EventID Qualifiers="49152">18456</EventID>
  <Level>0</Level>
  <Task>4</Task>
  <Keywords>0x90000000000000</Keywords>
  <TimeCreated SystemTime="2022-07-21T10:05:52.529488700Z

[2022-07-22 12:47] paul5196 opened #101 "Temporarily banned IPs"
I must admit I have been looking for something to do this for a Win 2008 R2 server to remove the tedium of adding IPs to a firewall blacklist. But to get to the point There are no entries appearing in the Temporarily Banned IP list? I have checked the application can extract IPs from an XML security record and I have added a bunch of IPs to block. Is there something to adjust to to see temporarily

[2022-08-07 21:28] Tristar7 commented on #97
Just had this happen again. The error comes from the *service*. Didn't have to gui running at all this time, so there's clearly more problems at hand. (all IPv4 IPs)
Also temporary bans are not good enough or would need to be massively extended to be useful here.

[2022-08-10 15:47] devnulli commented on #97
ill try to reproduce that. how long (circa) is your ban list?

[2022-08-24 15:55] haoyangw opened #102 "Support Watching SMB Server"
Custom Task to catch authentication failure events from SMBServer to prevent brute force attacks(works when tested with EvlWatcher Console using a purposeful authentication failure event XML, IP is extracted successfully)

		<Task Name="BlockSMBBruters" Active="true">

			<Description>
				This rule checks for failed SMB logins.
			</Description>

			<LockTime>
				3600
			</LockTime>

			<OnlyNew

[2022-09-05 15:20] padraigdoran opened #103 "Work with Custom Views / VNC Server"
Hi,

I'm looking to implement this for VNC Server for failed logins.

The entry appears in "Application" log, with source "VNC Server", but can be missed sometimes due to timings.

The following is the invalid attempt text:

`Connections: disconnected: 123.123.123.123::2258 (UDP) ([AuthFailure] Either the username was not recognised, or the password was incorrect)`

The following is the invalid at

[2022-09-06 16:25] fbocosta opened #104 "sugestion"
I think it would be very valid to have the option of blocking by regions as well as having the blocking by ip range.

[2022-11-01 07:11] rsauve opened #105 "Feature Reuest"
In the "Permanently banned IPs:" column adding a entry date to a blocked IP address would be a most useful feature.
What do you think?

[2022-11-30 13:43] AnalitikSamara opened #106 "Don't work"
I installed v2.1.5 on Windows 7 Prof 64-bit, made (consecutive) several attempts to connect via RDP with the wrong password - events were registered in the failure audit log, but EvlWatcher did not detect them and the blocking did not work.

Immediately after the first launch, the following messages appeared in the "Live" window:

30.11.2022 17:18:32 - [Info]: Event Log Microsoft-Windows-RemoteDes